@model BookStore.Domain.Entities.Book

<div class="well">
    <h3>
        <strong>@Model.Title</strong>
    </h3>
    <span class="pull-right label label-primary">
        @Model.Price.ToString("c")
    </span>
    <span class="lead">
        @Model.Description
    </span>
    <hr />
</div>